/* ImageSkeleton.css */

.image-skeleton {
    width: 100%;
    height: 100%;
    background-color: #eee; /* Placeholder background color */
    animation: loading 1.5s infinite; /* Skeleton loading animation */
  }
  
  @keyframes loading {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }
  